.div,
.div * {
  box-sizing: border-box;
}
.div {
  background: linear-gradient(to left, #ffffff, #ffffff),
    linear-gradient(to left, #ffffff, #ffffff);
  height: 4412px;
  position: relative;
}
.rectangle-67 {
  background: #e5e6e0;
  width: 1919px;
  height: 740px;
  position: absolute;
  left: 0px;
  top: 3419px;
}
.rectangle-672 {
  background: #e5e6e0;
  width: 1919px;
  height: 619px;
  position: absolute;
  left: 6px;
  top: 2376px;
}
.section {
  background: #e5e6e0;
  height: 1766px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.section2 {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  right: 455px;
  left: 455px;
  bottom: 1581px;
  top: 139px;
}
.navigation {
  height: 46px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.list {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.item {
  position: absolute;
  right: 876.8px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.link {
  position: absolute;
  right: 1px;
  left: 0px;
  bottom: 0px;
  top: 0px;
}
.div2 {
  color: #e5004c;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 14.875px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 36.44px;
  top: 13px;
  width: 59.53px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-divider {
  border-style: solid;
  border-color: #e5e6e0;
  border-width: 0px 0px 0px 1px;
  width: 1px;
  height: 32px;
  position: absolute;
  left: 132.2px;
  top: 7px;
}
.item2 {
  position: absolute;
  right: 662.86px;
  left: 133.1999969482422px;
  bottom: 0px;
  top: 0px;
}
.div3 {
  color: #122d49;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.75px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 36.44px;
  top: 13px;
  width: 140.26px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-divider2 {
  border-style: solid;
  border-color: #e5e6e0;
  border-width: 0px 0px 0px 1px;
  width: 1px;
  height: 32px;
  position: absolute;
  left: 212.94px;
  top: 7px;
}
.item3 {
  position: absolute;
  right: 448.97px;
  left: 347.1400146484375px;
  bottom: 0px;
  top: 0px;
}
.div4 {
  color: #122d49;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15.375px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 36.44px;
  top: 13px;
  width: 140.22px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-divider3 {
  border-style: solid;
  border-color: #e5e6e0;
  border-width: 0px 0px 0px 1px;
  width: 1px;
  height: 32px;
  position: absolute;
  left: 212.89px;
  top: 7px;
}
.item4 {
  position: absolute;
  right: 266.95px;
  left: 561.030029296875px;
  bottom: 0px;
  top: 0px;
}
.div5 {
  color: #122d49;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 36.44px;
  top: 13px;
  width: 108.34px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-divider4 {
  border-style: solid;
  border-color: #e5e6e0;
  border-width: 0px 0px 0px 1px;
  width: 1px;
  height: 32px;
  position: absolute;
  left: 181.02px;
  top: 7px;
}
.item5 {
  position: absolute;
  right: 144.89px;
  left: 743.0499877929688px;
  bottom: 0px;
  top: 0px;
}
.div6 {
  color: #122d49;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 36.43px;
  top: 13px;
  width: 48.39px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vertical-divider5 {
  border-style: solid;
  border-color: #e5e6e0;
  border-width: 0px 0px 0px 1px;
  width: 1px;
  height: 32px;
  position: absolute;
  left: 121.06px;
  top: 7px;
}
.div7 {
  color: #122d49;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  left: 901px;
  top: 13px;
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.banner-1-1-webp {
  height: 742px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 208px;
  overflow: hidden;
}
.link2 {
  background: #e50040;
  border-radius: 7px;
  width: 16.15%;
  height: 9.43%;
  position: absolute;
  right: 76.82%;
  left: 7.03%;
  bottom: 14.42%;
  top: 76.15%;
}
.div8 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22.875px;
  font-weight: 400;
  position: absolute;
  left: 78px;
  top: 23px;
  width: 130.12px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2 {
  height: 240px;
  position: absolute;
  right: 286px;
  left: 1028px;
  top: 1059px;
}
.div9 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 43.125px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 0px;
  top: 79.1px;
  width: 596.2px;
  height: 119.6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-9-span {
  color: #00213e;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 43.125px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
}
.div-9-span2 {
  color: #e50040;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 43.125px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
}
.hairstylist-3938615-1 {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 1091px;
  top: 1318px;
  object-fit: cover;
}
.love-1316119-1 {
  width: 2.97%;
  height: 3.23%;
  position: absolute;
  right: 34.38%;
  left: 62.66%;
  bottom: 13.08%;
  top: 83.69%;
  object-fit: cover;
}
.brush-12739133-1 {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 1617px;
  top: 1318px;
  object-fit: cover;
}
.make-up-artist-10084951-1 {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 1354px;
  top: 1318px;
  object-fit: cover;
}
.hair-dye-4614130-1 {
  width: 61px;
  height: 61px;
  position: absolute;
  left: 1495px;
  top: 1474px;
  object-fit: cover;
}
.div10 {
  color: #e50040;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 43.484375px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 210px;
  top: 1022px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.background {
  background: #00213e;
  height: 610px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 1766px;
}
.section3 {
  position: absolute;
  right: 340px;
  left: 410px;
  bottom: 521.87px;
  top: 44px;
}
.heading-4 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 28.9453125px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 800;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 30px;
  width: 426.18px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 1111.5px;
  height: 368.13px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 110px;
  overflow: hidden;
}
.container2 {
  width: 270.5px;
  position: absolute;
  left: 0px;
  bottom: 40px;
  top: 0px;
  overflow: hidden;
}
.section4 {
  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 20.01px;
  top: 20px;
}
.cl-ms-q-62-thhhb-3-iwtyahorb-8-joa-8-a-4-d-3-a-1-du-1-rr-1-vfe-2-oq-4-jpg {
  width: 230.5px;
  height: 288.12px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
  object-fit: cover;
}
.link3 {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 30px;
  top: 202.12px;
}
.button-150-x-150-png {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 0px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
  object-fit: cover;
}
.container3 {
  width: 270.5px;
  position: absolute;
  left: 280.5px;
  bottom: 40px;
  top: 0px;
  overflow: hidden;
}
.cl-okr-2-q-62-thhhb-3-iwtyahorb-8-joa-8-a-4-d-3-a-1-du-1-rr-1-vfe-2-oq-4-jpg {
  width: 230.5px;
  height: 288.12px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
  object-fit: cover;
}
.container4 {
  width: 270.5px;
  position: absolute;
  left: 561px;
  bottom: 40px;
  top: 0px;
  overflow: hidden;
}
.cl-d-0-b-2-rows-q-62-w-9-hj-66-zt-14-t-8-etjdny-1-rpa-472-y-4-u-06-pnjh-5-sur-0-jpg {
  width: 230.5px;
  height: 288.12px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
  object-fit: cover;
}
.container5 {
  width: 270.5px;
  position: absolute;
  left: 841.5px;
  bottom: 40px;
  top: 0px;
  overflow: hidden;
}
.cl-zs-q-62-thif-5-acy-49-wgbltn-68-rzqpqyn-92-xs-3-vpcwo-1-ajw-1 {
  width: 230px;
  height: 290px;
  position: absolute;
  left: 20.25px;
  top: 18px;
  object-fit: cover;
}
.link4 {
  width: 64px;
  height: 64px;
  position: absolute;
  right: 50px;
  top: 222.12px;
}
.button-previous-slide {
  width: 41px;
  height: 41px;
  position: absolute;
  left: -29.25px;
  top: 184.56px;
  transform: translate(29.25px, -41px);
  overflow: visible;
}
.button-next-slide {
  opacity: 0.3;
  width: 41px;
  height: 41px;
  position: absolute;
  left: 1099.75px;
  top: 184.56px;
  transform: translate(0px, -41px);
  overflow: visible;
}
.background2 {
  background: #00213e;
  height: 258px;
  position: absolute;
  right: 1px;
  left: -1px;
  top: calc(50% - -1953px);
}
.container6 {
  width: 1150px;
  height: 138px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 60px;
}
.link-logo-footer-svg {
  width: 136.23px;
  height: 93px;
  position: absolute;
  left: 70px;
  top: 18.2px;
  overflow: hidden;
}
.logo-footer-svg-fill {
  width: 136.23px;
  height: 93px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.logo-footer-svg {
  width: 136.23px;
  height: 92.99px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.link5 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  line-height: 28.8px;
  font-weight: 400;
  position: absolute;
  left: 340.02px;
  top: -6.39px;
  width: 103.4px;
  height: 144px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link6 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.296875px;
  line-height: 28.8px;
  font-weight: 400;
  position: absolute;
  left: 577px;
  top: 22.41px;
  width: 180.43px;
  height: 115.2px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link-icon-tg-svg {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 979.03px;
  top: 45.81px;
  overflow: hidden;
}
.icon-tg-svg-fill {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.icon-tg-svg {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.link-icon-vib-svg {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 1016.52px;
  top: 45.81px;
  overflow: hidden;
}
.icon-vib-svg-fill {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.icon-vib-svg {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.link-icon-vk-svg {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 1054px;
  top: 45.81px;
  overflow: hidden;
}
.icon-vk-svg-fill {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.icon-vk-svg {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.link-8-800-600-65-16 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.296875px;
  line-height: 28.8px;
  font-weight: 400;
  position: absolute;
  left: 938.86px;
  top: 80.41px;
  width: 141.34px;
  height: 28.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._2024 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  line-height: 28.8px;
  font-weight: 400;
  position: absolute;
  left: 891.02px;
  top: 109.2px;
  width: 189.18px;
  height: 28.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link7 {
  color: #00213e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  left: 351px;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link8 {
  color: #00213e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.4375px;
  font-weight: 400;
  position: absolute;
  left: 459px;
  top: 81px;
  width: 122px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link9 {
  color: #00213e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.4375px;
  font-weight: 400;
  position: absolute;
  left: 639px;
  top: 81px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link10 {
  color: #00213e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.859375px;
  font-weight: 400;
  position: absolute;
  left: 751px;
  top: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link11 {
  color: #00213e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1249px;
  top: 67px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.link12 {
  color: #00213e;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1255px;
  top: 98px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo-dark-svg-fill {
  width: 156px;
  height: 112px;
  position: absolute;
  left: 148px;
  top: 46px;
  overflow: hidden;
}
.logo-dark-svg {
  width: 100.84px;
  height: 67.49px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.button-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 1220px;
  top: 64px;
}
.icon-map-dark-svg {
  width: 20.11px;
  height: 25px;
  position: absolute;
  left: 4px;
  top: 50%;
  translate: 0 -50%;
  overflow: hidden;
}
.icon-map-dark-svg-fill {
  width: 20.11px;
  height: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: hidden;
}
.icon-map-dark-svg2 {
  width: 20.11px;
  height: 24.99px;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: visible;
}
.button {
  background: #e5004c;
  border-radius: 150px;
  width: 180px;
  height: 42px;
  position: absolute;
  right: 183px;
  top: 91px;
}
._7-800-600-65-16 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 15.609375px;
  line-height: 18px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 12px;
  width: 161.36px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.xl-6-1 {
  width: 744px;
  height: 472px;
  position: absolute;
  left: 200px;
  top: 1116px;
  object-fit: cover;
}
.link13 {
  color: #00213e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1048px;
  top: 1383px;
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link14 {
  color: #00213e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1150px;
  top: 1542px;
  width: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link15 {
  color: #00213e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1436px;
  top: 1542px;
  width: 169px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link16 {
  color: #00213e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1565px;
  top: 1383px;
  width: 171px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link17 {
  color: #00213e;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 17.71875px;
  font-weight: 400;
  position: absolute;
  left: 1290px;
  top: 1383px;
  width: 171px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-3-1 {
  width: 1150px;
  height: 444px;
  position: absolute;
  left: 391px;
  top: 2434px;
  object-fit: cover;
}
.section5 {
  background: #00223f;
  height: 424px;
  position: absolute;
  right: 1px;
  left: -1px;
  top: 2995px;
}
.heading-5-250 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-ExtraBold", sans-serif;
  font-size: 29.0625px;
  line-height: 30px;
  letter-spacing: 0.2px;
  font-weight: 800;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 30px;
  width: 373.33px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section6 {
  width: 1170px;
  height: 193px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 154px;
}
._11-jpg {
  border-radius: 19px;
  width: 220px;
  height: 123px;
  position: absolute;
  left: calc(50% - 500.02px);
  top: calc(50% - 96.5px);
  overflow: hidden;
  object-fit: cover;
}
.button2 {
  background: #e5004c;
  border-radius: 150px;
  width: 217.84px;
  height: 48px;
  position: absolute;
  left: calc(50% - 498.94px);
  top: 138px;
  overflow: hidden;
}
.div11 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Bold", sans-serif;
  font-size: 17.15625px;
  line-height: 18px;
  font-weight: 700;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 15px;
  width: 158.04px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.background-blur {
  background: #ffffff;
  width: 30px;
  height: 300px;
  position: absolute;
  left: 130.46px;
  top: -116.67px;
  transform-origin: 0 0;
  transform: rotate(45deg) scale(1, 1);
  filter: blur(5px);
}
._11111-jpg {
  border-radius: 19px;
  width: 220px;
  height: 123px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: calc(50% - 96.5px);
  overflow: hidden;
  object-fit: cover;
}
.button3 {
  background: #e5004c;
  border-radius: 150px;
  width: 217.84px;
  height: 48px;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 138px;
  overflow: hidden;
}
._111-jpg {
  border-radius: 19px;
  width: 220px;
  height: 123px;
  position: absolute;
  left: calc(50% - -279.95px);
  top: calc(50% - 96.5px);
  overflow: hidden;
  object-fit: cover;
}
.button4 {
  background: #e5004c;
  border-radius: 150px;
  width: 217.84px;
  height: 48px;
  position: absolute;
  left: calc(50% - -281.03px);
  top: 138px;
  overflow: hidden;
}
.image-2 {
  border-style: solid;
  border-color: #e50040;
  border-width: 5px;
  width: 962px;
  height: 541px;
  position: absolute;
  left: 83px;
  top: 3536px;
  object-fit: cover;
}
.eight-section {
  position: absolute;
  inset: 0;
}
.right-side {
  width: 478px;
  height: 434.39px;
  position: static;
}
.form {
  width: 478px;
  height: 434.39px;
  position: static;
}
.group-6 {
  width: 478px;
  height: 60.05px;
  position: static;
}
.rectangle-61 {
  border-radius: 10px;
  border-style: solid;
  border-color: #00213e;
  border-width: 1px;
  width: 478px;
  height: 60.05px;
  position: absolute;
  left: 1138px;
  top: 3630px;
}
.div12 {
  color: #00213e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1155.2px;
  top: 3645.84px;
  width: 91.33px;
  height: 29.07px;
}
.group-7 {
  width: 478px;
  height: 60.05px;
  position: static;
}
.rectangle-612 {
  border-radius: 10px;
  border-style: solid;
  border-color: #00213e;
  border-width: 1px;
  width: 478px;
  height: 60.05px;
  position: absolute;
  left: 1138px;
  top: 3720.74px;
}
.div13 {
  color: #00213e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1155.2px;
  top: 3736.9px;
  width: 136.02px;
  height: 29.07px;
}
.group-8 {
  width: 478px;
  height: 60.05px;
  position: static;
}
.rectangle-613 {
  border-radius: 10px;
  border-style: solid;
  border-color: #00213e;
  border-width: 1px;
  width: 478px;
  height: 60.05px;
  position: absolute;
  left: 1138px;
  top: 3811.48px;
}
.email {
  color: #00213e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1155.2px;
  top: 3827.97px;
  width: 81.61px;
  height: 27.46px;
}
.group-9 {
  width: 478px;
  height: 60.05px;
  position: static;
}
.rectangle-614 {
  border-radius: 10px;
  border-style: solid;
  border-color: #00213e;
  border-width: 1px;
  width: 478px;
  height: 60.05px;
  position: absolute;
  left: 1138px;
  top: 3902.21px;
}
.div14 {
  color: #00213e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1155.2px;
  top: 3917.71px;
  width: 219.57px;
  height: 29.07px;
}
.date {
  width: 209.03px;
  height: 59.15px;
  position: static;
}
.group-12 {
  width: 209.03px;
  height: 59.15px;
  position: static;
}
.rectangle-63 {
  border-radius: 10px;
  border-style: solid;
  border-color: #00213e;
  border-width: 1px;
  width: 209.03px;
  height: 59.15px;
  position: absolute;
  left: 1142.38px;
  top: 4005.05px;
}
.group-13 {
  width: 127.17px;
  height: 28.95px;
  position: static;
}
.calendar-today {
  width: 29.24px;
  height: 25.17px;
  position: absolute;
  left: 1281.25px;
  top: 4020.16px;
  overflow: visible;
}
._21-06-24 {
  color: #00213e;
  text-align: left;
  font-family: "Poppins-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 1183.31px;
  top: 4020.16px;
  width: 83.32px;
  height: 28.95px;
}
.btn {
  width: 238.11px;
  height: 59.39px;
  position: static;
}
.rectangle-65 {
  background: #e50040;
  border-radius: 10px;
  width: 238.11px;
  height: 59.39px;
  position: absolute;
  left: calc(50% - -417px);
  top: 4005px;
}
.div15 {
  color: #ffffff;
  text-align: left;
  font-family: "Poppins-Medium", sans-serif;
  font-size: 17px;
  font-weight: 500;
  position: absolute;
  left: 1439px;
  top: 4021px;
  width: 114px;
  height: 28px;
}
.div16 {
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
  position: absolute;
  left: 1157px;
  top: 3546px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-16-span {
  color: #00213e;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
}
.div-16-span2 {
  color: #e50040;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 32px;
  line-height: 59.8px;
  letter-spacing: 1.3px;
  font-weight: 600;
  text-transform: uppercase;
}
